body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6b9080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  padding-inline: 1rem;
}